html {
  --priamry-color: #e53935;
  --primary-color-variant: #e76a68;
  --secondary-color: #52a854;
  --secondary-color-variant: #336c35;
  --paige-color: #fff8e3;

  --max-width: 75rem;
}

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.font-mont {
  font-family: "Montserrat", sans-serif !important;
}

.font-abril {
  font-family: "Abril Fatface" !important;
}

.center {
  margin: 0 auto;
}

body {
  font-size: 62.5%; /* defaults the font size to 10px */
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  background-color: var(--priamry-color);
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: var(--max-width);
}

header .logo {
  text-align: center;
  display: block;
}

header .logo img {
  height: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

header nav ul li {
  font-size: 0.8rem;
  text-align: center;
}

header nav ul li a {
  display: inline-block;
  color: white;
  padding: 1rem 0.8rem;
}

header nav ul li:last-child a {
  background-color: #7ca97d;
  width: 100%;
}

.hero-wrapper {
  background-color: var(--priamry-color);
}

section.hero {
  position: relative;
  padding: 5rem 1rem;
  z-index: 1;
  min-height: 70vh;
  max-width: var(--max-width);
}

.christmas-tree-big {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.7;
  max-width: 15rem;
}

.hero .left h1 {
  font-size: 1.8rem;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 150%;
  text-align: center;
  z-index: 200;
}

.hero .left p {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  text-align: center;
  color: #1d0505;
  z-index: 200;
}

.hero .left button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--secondary-color-variant);
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 1px;
  padding: 0.9rem;
  outline: none;
  border: unset;
  margin: 3rem auto 0 auto;
}

.hero .left button svg {
  text-align: center;
  margin-left: 1rem;
}

.hero .right {
  display: none;
  font-size: 1.3rem;
  text-align: center;
}

.best-selling-wrapper {
  background-color: var(--paige-color);
}

section.best-selling {
  padding: 3.5rem 1rem 5rem;
}

.section-heading {
  display: flex;
  align-items: baseline;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--priamry-color);
  width: fit-content;
  padding-bottom: 0.4rem;
}

.section-heading img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.section-heading h1 {
  font-size: 1rem;
}

.card-list {
  display: grid;
  place-content: center;
  gap: 2rem 4rem;
}

.card {
  background-color: white;
  overflow: hidden;
  max-width: 18rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card img {
  height: 12rem;
  object-fit: cover;
}

.card .card-details {
  padding: 1rem 1rem;
}

.card .card-details h3 {
  font-size: 1rem;
}
.card .bottom-card-details {
  display: flex;
  margin-top: 1.2rem;
  align-items: center;
  justify-content: space-between;
}
.card .bottom-card-details p {
  font-size: 1.4rem;
}

.card .bottom-card-details p span {
  font-size: 1rem;
}

.card .bottom-card-details button {
  display: flex;
  place-content: center;
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.8rem 0.8rem;
  border: unset;
}

.card .bottom-card-details button img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.7rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background-color: var(--secondary-color-variant);
}

footer img {
  height: 3rem;
}

footer .newsletter {
  margin-top: 2rem;
  text-align: center;
}

footer .newsletter p {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.5rem;
}

footer .newsletter .form-box {
  margin-top: 0.4rem;
  position: relative;
  width: 80%;
  max-width: 15rem;
  margin: 0 auto;
}

footer .newsletter .form-box input {
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.8rem;
  width: 100%;
  border: unset;
  outline: unset;
}

footer .newsletter .form-box img {
  position: absolute;
  width: 1.4rem;
  top: 0;
  right: 0.5rem;
}

footer .socials {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
}

footer .socials li {
  margin-right: 2rem;
}

footer .socials li a img {
  max-width: 20rem;
  height: 1.2rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 110%;
  }
  .hero .left p {
    line-height: 180%;
    max-width: 25rem;
    margin: 2rem auto;
  }

  .section-heading img {
    width: 2rem;
    margin-right: 0.5rem;
  }

  .section-heading h1 {
    font-size: 1.5rem;
  }

  .card-list {
    grid-template-columns: repeat(auto-fit, 16rem);
  }
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  header .logo img {
    height: 2rem;
    width: unset;
  }

  header nav ul {
    margin-top: unset;
  }

  header nav ul li {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 2rem;
  }
  header nav ul li:last-child {
    margin-left: 2rem;
  }

  header nav ul li a {
    display: inline-block;
    color: white;
    padding: 1rem 0.8rem;
  }

  header nav ul li:last-child a {
    background-color: #7ca97d;
    width: 100%;
  }

  header nav ul li:last-child {
    margin-left: 3rem;
  }

  header nav ul li:last-child a {
    padding: 1.2rem 1.3rem;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero img {
    top: 40%;
    left: 40%;
    width: 10rem;
    opacity: 1;
  }
  .hero .left h1 {
    font-size: 2.8rem;
    text-align: left;
    color: var(--secondary-color-variant);
  }

  .hero .left p {
    text-align: left;
    flex: 1;
    margin: 1rem 0 0 0;
    color: white;
    line-height: 200%;
  }

  .hero .right {
    display: block;
    flex: 1 20%;
    position: relative;
    text-align: right;
  }

  .hero .right img {
    text-align: right;
    width: 60%;
    margin-bottom: -10rem;
    box-shadow: -1rem 0.4rem 1rem rgba(0, 0, 0, 0.5);
  }

  .section-heading {
    margin-bottom: 4rem;
  }

  section.best-selling {
    max-width: var(--max-width);
  }
  footer {
    padding: 1.2rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  footer img {
    height: 2.2rem;
    width: unset;
  }

  footer .newsletter .form-box input {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  footer .newsletter .form-box img {
    width: 1.2rem;
  }

  footer .socials {
    margin: unset;
  }
  footer .socials li {
    margin-left: 2rem;
    margin-right: unset;
  }
  footer .newsletter {
    margin: unset;
  }
}
